<div class="container">
    <h1>The Home View!</h1>

    <span class="fa-stack">
      <i class="fa fa-square-o fa-stack-2x"></i>
      <i class="fa fa-twitter fa-stack-1x"></i>
    </span>

    <ul>
        <li ng-repeat="thing in things">{{thing}}</li>
    </ul>
</div>